<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Code of Conduct</title>
</head>
<style>
  body {
    text-align: center;
    background-color: #FFFAEF;
  }

  .heading{
      color:#bd0c0e;
      font-size:50px;
  }

  ul li {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    }
    ul{
        list-style: disc
    }

  .wrapper {
    display: flex;
  }

  .col {
    flex: 1 0;
  }
  .logofix{
      width:200px;
  }

  .content {
    flex: 3
  }
  
  @media all and (max-width:768px){
        .heading{
      color:#bd0c0e;
      font-size:30px;
  }

  ul li {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    }
  }

</style>

<body>
<nav>
    <div class="img-container"><a href="/"><img class="logo-img logofix" src="./img/image.png" alt="logo"></a></div>
</nav>
  <h1 class="heading">Code of Conduct</h1>
  <div class="wrapper">
    <div class="col"></div>
    <div class="content">
      <ul>
        <li>Harassment includes offensive verbal comments related to gender, gender identity and expression, age,
          sexual orientation, disability, physical appearance, body size, race, ethnicity, nationality, or religion,
          sexual images in public spaces, deliberate intimidation, stalking, following, photography or audio/video
          recording against reasonable consent, sustained disruption of talks or other events, inappropriate physical
          contact, and unwelcome sexual attention.</li>
        <li>Photography is encouraged, but other participants must be given a reasonable chance to opt out from being
          photographed. If they object to the taking of their photograph, comply with their request. It is
          inappropriate to take photographs in contexts where people have a reasonable expectation of privacy (in
          bathrooms or where participants are sleeping).</li>
        <li>Participants asked to stop any harassing behavior are expected to comply immediately.</li>
        <li>As this is a hackathon, we like to explicitly note that the hacks created at our hackathon are equally
          subject to the anti-harassment policy.</li>
        <li>Sponsors and partners are also subject to the anti-harassment policy. In particular, sponsors should not
          use sexualised images, activities, or other material. Sponsor representatives (including volunteers) should
          not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</li>
        <li>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please
          contact a member of hackathon staff immediately.</li>
        <li>Hackathon staff will be happy to help participants contact any local security or local law enforcement,
          provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the
          hackathon. We value your attendance.</li>
        <li>If a participant engages in harassing behavior, the hackathon organisers may take any action they deem
          appropriate. This includes warning the offender, expulsion from the hackathon with no refund (if
          applicable), or reporting their behaviour to local law enforcement.</li>
        <li>We expect participants to follow these rules at hackathon and workshop venues and hackathon-related
          social events.</li>
      </ul>
      <h2>Our code of conduct is based on the <a href="https://hackcodeofconduct.org/">Hack Code of Conduct.</a></h2>
    </div>
    <div class="col"></div>
  </div>

</body>

</html>
