<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Dotslash Hackathon: Root To Ideas" />
  <meta property="og:description" content="DotSlash​ is a 30 hours long hackathon which is completely managed by students of SVNIT, Surat. It is a
              platform for developers around the world to use their innovative skills to produce something new and
              useful for the society." />
  <meta property="og:image:secure_url" content="/img/logo_only.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>DotSlash</title>
  <link rel="shortcut icon" type="image/png" href="/img/logo_only1.png" />
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800i|Amaranth:700i|Kanit:700i|Lato:900i|Source+Sans+Pro:900i"
    rel="stylesheet">
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

  <!-- Owl Carousel -->
  <link type="text/css" rel="stylesheet" href="css/owl.carousel.css" />
  <link type="text/css" rel="stylesheet" href="css/owl.theme.default.css" />

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Custom stlylesheet -->
  <link type="text/css" rel="stylesheet" href="css/style.css" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
</head>
<style>
    .rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
    .logofixer {
      position: relative;
        top:10px;
        width: 250px;
    }
    </style>
<body>

  <!-- Header -->
  <header id="header" class="transparent-navbar">
    <!-- container -->
    <div class="container">
      <!-- navbar header -->
      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">
          <a class="logo" href="/">
            <img class="logo-img logofix" src="./img/image.png" alt="logo">
            <img class="logo-alt-img" src="./img/logo_final13.png" alt="logo">
          </a>
        </div>
        <!-- /Logo -->

        <!-- Mobile toggle -->
        <button class="navbar-toggle">
          <i class="fa fa-bars"></i>
        </button>
        <!-- /Mobile toggle -->
      </div>
      <!-- /navbar header -->

      <!-- Navigation -->
      <nav id="nav">
        <ul class="main-nav nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#sponsors">Sponsors</a></li>
          <li><a href="#faq">FAQs</a></li>
          <li><a href="#prizes">Prizes</a></li>
          <li><a href="/coc">Code of conduct</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <!-- /Navigation -->
    </div>
    <!-- /container -->
  </header>
  <!-- /Header -->

  <!-- Home -->
  <div id="home">
    <!-- background image -->
    <div class="section-bg" style="background-image:url(./img/finalpic2.jpg);" data-stellar-background-ratio="0.5"></div>
    <!-- /background image -->

    <!-- home wrapper -->
    <div class="home-wrapper">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- home content -->
          <div class="col-md-8 col-md-offset-2">
            <!--
            <div class="home-content">
                <h1><img src="img/logo_only1.png" width="100px"><span style="color: #bd0c0e"> DOT</span><span style="color: black"> SLASH</span></h1>
              <h4 class="lead">Root to Ideas</h4>
            </div>
-->
            <div class="home-content jumbotron" style="background-color: transparent;border-radius: 20px">
              <h1 style="font-family: lato"><img src="img/logo_only1.png" class="animated rotateIn delay-1s" style=""
                  width="100px">&nbsp;<span style="color: #bd0c0e">DOT</span><span style="color: black">SLASH</span></h1>
              <h4 class="lead" style="font-size: 25px;color: black; text-shadow:0 0 5px white">Root to Ideas</h4>
              <h5 class="lead" style="font-size: 30px;color: white;text-shadow:0 0 8px #bd0c0e ;font-weight:800">
               <span style="font-size:20px">Powered by</span> ASHINE</h5>
              <h3 class="lead" style="font-size: 20px;color: white;text-shadow:0 0 8px #bd0c0e ;font-weight:600">2nd February 2019 - 3rd February 2019</h3>
              <button class="" id="devfolio-apply-now1"><svg class="logo" xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 115.46 123.46" style="height:24px;width:24px;margin-right:8px"><path d="M115.46 68a55.43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-10.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 13.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05 1.05.08 2.18.08 3.34z"/><path d="M110.93 55.87A55.43 55.43 0 0 1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 55.41 0 0 1 50.58 55.34z"/></svg>Apply with Devfolio</button>
              <h3 class="lead" style="font-size: 20px;color: white;text-shadow:0 0 8px #bd0c0e ;font-weight:600">The deadline for registration is 23rd January 2019</h3>

            </div>
          </div>
          <!-- /home content -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /home wrapper -->
  </div>
  <!-- /Home -->

  <!-- About -->
  <div id="about" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- section title -->
        <div class="section-title">
          <h3 class="title"><span>About</span> <span style="color: #bd0c0e;">DotSlash</span></h3>
        </div>
        <!-- /section title -->

        <div class="col-md-8 col-md-offset-2 text-center">
          <!-- about content -->
          <div class="about-content">
            <p>The Sardar Vallabhbhai National Institute of Technology, Surat (NIT Surat), perceives to be a globally
              accepted centre of excellence in technical education catalysing the transfer of high technologies
              resulting in enhanced quality. Ashine research park, SVNIT brings to you <b>DotSlash-an inception towards
                letting our innovations begin.</b> </p>
            <p>DotSlash​ is a 30 hours long hackathon which is completely managed by students of SVNIT, Surat. It is a
              platform for developers around the world to use their innovative skills to produce something new and
              useful for the society.
            </p>
          </div>
          <!-- /about content -->

          <!-- Numbers -->
          <div id="numbers">
            <!-- row -->
            <div class="row">
              <!-- number -->
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="number">
                  <h3><span class="counter" data-from="0" data-to="30" data-speed="1500">0</span></h3>
                  <p>Hours</p>
                </div>
              </div>
              <!-- /number -->

              <!-- number -->
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="number">
                  <h3><span class="counter" data-from="0" data-to="900" data-speed="1500">0</span>+</h3>
                  <p>Applications</p>
                </div>
              </div>
              <!-- /number -->

              <!-- number -->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="number">
                  <h3><span class="counter" data-from="0" data-to="150" data-speed="1500">0</span>+</h3>
                  <p>Participants</p>
                </div>
              </div>
              <!-- /number -->

            </div>
            <!-- /row -->
          </div>
          <!-- /Numbers -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /About -->

  <!-- Galery -->
  <div id="galery">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- galery owl -->
        <div id="galery-owl" class="owl-carousel owl-theme">
          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/Carousel2.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/Carousel3.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/c0.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/c1.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/c2.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/c3.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/c4.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/Carousel1.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/c5.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/c6.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/c7.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/c8.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/c9.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/c10.jpg" alt="">
          </div>
          <!-- /galery item -->

          <!-- galery item -->
          <div class="galery-item">
            <img src="./img/c11.jpg" alt="">
          </div>
          <!-- /galery item -->

        </div>
        <!-- /galery owl -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Galery -->
  <br><br><br><br>
  <!-- Event Schedule -->
  <div id="schedule" class="section" style="background-color: whitesmoke;">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- section title -->
        <div class="section-title">
          <h3 class="title"><span style="color: #bd0c0e;">Schedule</span></h3>
        </div>
        <!-- /section title -->

        <div class="col-md-8 col-md-offset-2">

          <div class="events-wrapper">
            <!-- event -->
            <div class="event">
              <div class="event-day">
                <div>
                  <span class="day">2</span>
                  <span class="year">Feb, 2019</span>
                </div>
              </div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 9 : 00 AM</p>
                <h3 class="event-title">Check-in</h3>
                <p>Arrive at the location with your valid college ID Card and a printout of the acceptance form. All
                  the participants need to arrive latest by 10 AM.</p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 10 : 00 AM</p>
                <h3 class="event-title">Opening Ceremony</h3>
                <p>The hackathon will begin with a small welcome ceremony and the participants will be addressed by the
                  coordinators.
                </p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 11 : 00 AM</p>
                <h3 class="event-title">Hacking Starts!</h3>
                <p>Hacking Commences!</p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 1 : 00 PM</p>
                <h3 class="event-title">Lunch</h3>
                <p>The participants will be provided with scrumptious lunch to go about the day.</p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 5 : 00 PM</p>
                <h3 class="event-title">Tea Break</h3>
                <p>The participants will be provided with tea, coffee and some snacks.</p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 PM</p>
                <h3 class="event-title">Dinner</h3>
                <p>First Day of hackathon will end with delicious dinner.</p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-day">
                <div>
                  <span class="day">3</span>
                  <span class="year">Feb, 2019</span>
                </div>
              </div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 1 : 00 AM</p>
                <h3 class="event-title">Midnight Snacks</h3>
                <p>Midnight snacks will be provided to diffuse the late night tension.</p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 8 : 00 AM</p>
                <h3 class="event-title">Breakfast</h3>
                <p>Breakfast will be provided to the participants along with tea coffee and snacks.</p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 11 : 00 AM</p>
                <h3 class="event-title">Primary Evaluation</h3>
                <p>The primary evaluation for the hackathon will be conducted by the judges.</p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 1 : 00 PM</p>
                <h3 class="event-title">Lunch</h3>
                <p>Lunch for day 2.</p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-hour"></div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 5 : 00 PM</p>
                <h3 class="event-title">Presentation Session</h3>
                <p>The selected participants will have to present their ideas and projects in front of everyone.</p>
              </div>
            </div>
            <!-- /event -->

            <!-- event -->
            <div class="event">
              <div class="event-day">
                <div>
                  <span class="day">3</span>
                  <span class="year">Feb, 2019</span>
                </div>
              </div>
              <div class="event-content">
                <p class="event-time"><i class="fa fa-clock-o"></i> 7 : 00 PM</p>
                <h3 class="event-title">Results Declaration</h3>
                <p>The judges will declare the winners of Dotslash Hackathon!</p>
              </div>
            </div>
            <!-- /event -->
          </div>
          <div class="download-btn">
            <a href="./assets/timeline.pdf" download="timeline" class="main-btn">Download Schedule</a>
          </div>

        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Event Schedule -->

  <!-- /Sponsors -->

  <!-- Sponsors -->
  <div id="sponsors" class="section">
    <!-- container -->
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h3 class="title"><span>Our</span> <span style="color: #bd0c0e;">Sponsors</span></h3>
        </div>
        <div class="col-xs-6">
          <a href="https://www.jetbrains.com/" target="_blank" class="sponsor">
            <img src="./img/jetbrains.jpeg" alt="">
          </a>
        </div>
        <div class="col-xs-6">
          <a href="https://devfolio.co/" target="_blank" class="sponsor">
            <img style="width:100%" src="https://hackinout.co/img/logo-devfolio.svg" alt="">
          </a>
        </div>
        
        
      </div>
      <!-- row -->
      <div class="row">
        <!-- section title -->
        <div class="section-title">
          <h3 class="title"><span>Past</span> <span style="color: #bd0c0e;">Sponsors</span></h3>
        </div>
        <!-- /section title -->

        <!-- sponsor -->
        <div class="col-md-4 col-sm-4 col-xs-6">
          <a href="http://www.bluestacks.com/" target="_blank" class="sponsor">
            <img style="width:100%" src="./img/bluestacks.png" alt="">
          </a>
        </div>
        <!-- /sponsor -->

        <!-- sponsor -->
        <div class="col-md-4 col-sm-4 col-xs-6">
          <a href="http://www.midasfusion.com/#/home" target="_blank" class="sponsor">
            <img src="./img/midasblue.png" alt="">
          </a>
        </div>
        <!-- /sponsor -->

        <!-- sponsor -->
        <div class="col-md-4 col-sm-4 col-xs-6">
          <a href="https://www.jetbrains.com/" target="_blank" class="sponsor">
            <img src="./img/jetbrains.jpeg" alt="">
          </a>
        </div>
        <!-- /sponsor -->

        <!-- sponsor -->
        <div class="col-md-4 col-sm-4 col-xs-6">
          <a href="https://itunes.apple.com/in/app/pop-chat-right-on-your-apps/id1250780709?mt=8" target="_blank" class="sponsor">
            <img src="./img/pop.webp" alt="">
          </a>
        </div>
        <!-- /sponsor -->

        <!-- sponsor -->
        <div class="col-md-4 col-sm-4 col-xs-6">
          <a href="https://www.linkedin.com/in/ashine-svnit-891719161/?originalSubdomain=in/" target="_blank" class="sponsor">
            <img src="./img/ashine.png" alt="">
          </a>
        </div>
        <!-- /sponsor -->

        <!-- sponsor -->
        <div class="col-md-4 col-sm-4 col-xs-6">
          <a href="http://www.jayrajsolar.com/" target="_blank" class="sponsor">
            <img src="./img/jayrajlogo.png" alt="" style="width:220px">
          </a>
        </div>
        <!-- /sponsor -->

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Sponsors -->

  <!-- FAQS -->

  <div id="faq" class="section" style="background-color: whitesmoke">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- section title -->
        <div class="section-title">
          <h3 class="title"><span>F</span><span style="color: #bd0c0e;">AQ</span></h3>
        </div>
      </div>

      <div class="container">
        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
          <div class="row faqs">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 " id="accordion">
              <h2 data-parent="#accordion" data-toggle="collapse" class="box h21 arrow0" href="#num1" style="cursor: pointer">
                <span><i class="material-icons prefix arrow-img0">play_arrow</i></span>Who can participate?

              </h2>
              <p class="collapse box1" id="num1">All students irrespective of any course are eligible to apply. If you
                are under 18 years of age, we'll need a
                parental consent form. </p>
              <br>
              <h2 data-parent="#accordion" data-toggle="collapse" class="box arrow1" href="#num2" style="cursor: pointer">
                <span><i class="material-icons prefix arrow-img1">play_arrow</i></span>What is the Registration fee for hackathon?
              </h2>
              <p class="collapse box1" id="num2">Glad you asked. <b>Its completely Free!!!</b></p>
              <br>
              <h2 data-parent="#accordion" data-toggle="collapse" class="box arrow2" href="#num3" style="cursor: pointer">
                <span><i class="material-icons prefix arrow-img2">play_arrow</i></span>How does the application process work?
              </h2>
              <p class="collapse box1" class="box" id="num3">We’re looking for people who "do"! Folks who are
                passionate enough to work on crazy world-changing ideas. We’ll
                get to know more about your abilities from the past projects, GitHub profile, participation/awards in
                other
                hackathons.
              </p>
              <br>
              <h2 data-parent="#accordion" data-toggle="collapse" class="box arrow3" href="#num4" style="cursor: pointer">
                <span><i class="material-icons prefix arrow-img3">play_arrow</i></span>Can we apply as a team?

              </h2>
              <p class="collapse box1" id="num4">Yes! This hackathon is a team competition. Most teams aim to have a
                mix of people with both design and developer
                skills. If you don't have a team, you can participate individually. We'll have team formation at the
                time of
                hackathon.</p>
              <br>
              <h2 data-parent="#accordion" data-toggle="collapse" class="box arrow4" href="#num5" style="cursor: pointer">
                <span><i class="material-icons prefix arrow-img4">play_arrow</i></span>What do I get by attending DotSlash?
              </h2>
              <p class="collapse box1" id="num5">Pretty much everything from socializing with fellow hacker
                communities. And yeah we’ll have prizes for 1st, 2nd,
                3rd place, as well as the best hardware hack. Most of all, you will gain an unparalleled learning
                experience and memories for a lifetime!<br><br>You will also get a cool geeky T-Shirt, Certificate of
                Participation and a bag full of schwags.</p>
              <br>
              <h2 data-parent="#accordion" data-toggle="collapse" class="box arrow5" href="#num6" style="cursor: pointer">
                <span><i class="material-icons prefix arrow-img5">play_arrow</i></span>What do I need to bring after registration?
              </h2>
              <p class="collapse box1" id="num6">A valid college issued photo ID, hardcopy of acceptance mail, laptop,
                phone, chargers, any sleeping equipment you might want (we'll be providing mattresses)!</p>
              <br>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <h2 data-parent="#accordion" data-toggle="collapse" class="box arrow6" href="#num7" style="cursor: pointer">
                <span><i class="material-icons prefix arrow-img6">play_arrow</i></span>What facilities will be provided in hackathon?
              </h2>
              <p class="collapse box1" id="num7">We will take care of Meals, Drinks, Snacks , Accomodation, and all the
                refreshments that you will need. You will also be given a Geeky T-Shirt!
                <br>
                <br> We will also provide a Certificate of Participation to every participant.</p>
              <br>

              <h2 data-parent="#accordion" data-toggle="collapse" class="box arrow7" href="#num8" style="cursor: pointer">
                <span><i class="material-icons prefix arrow-img7">play_arrow</i></span>What shouldn’t I bring?

              </h2>
              <p class="collapse box1" id="num8">Don't bring anything which can get you in trouble like weapons of any
                kind, drugs, or alcohol. If you’re not
                sure whether something will be okay, please ask ahead of time!</p>
              <br>
              <h2 data-parent="#accordion" data-toggle="collapse" class="box arrow8" href="#num9" style="cursor: pointer">
                <span><i class="material-icons prefix arrow-img8">play_arrow</i></span>What will be the theme for DotSlash?
              </h2>
              <p class="collapse box1" id="num9">Not to worry, you will be provided with variety of theme options, once
                you get selected.</p>
              <br>
              <h2 data-parent="#accordion" data-toggle="collapse" class="box arrow9" href="#num10" style="cursor: pointer">
                <span><i class="material-icons prefix arrow-img9">play_arrow</i></span>What is the registration procedure?

              </h2>
              <p class="collapse box1" id="num10">You have to apply online. Once you are selected we will inform you
                about the remaining procedure.</p>
              <br>
              <h2 data-parent="#accordion" data-toggle="collapse" class="box arrow10" href="#num11" style="cursor: pointer">
                <span><i class="material-icons prefix arrow-img10">play_arrow</i></span>What if I've never been to a hackathon before?
              </h2>
              <p class="collapse box1" id="num11">Then we're so glad DotSlash will be your first ever! It’s helpful to
                have some programming or technical experience,
                but it’s not a requirement. We’ll have talks, mentors and workshops to help you with your project.</p>
              <br>
              <h2 data-parent="#accordion" data-toggle="collapse" class="box arrow11" href="#num12" style="cursor: pointer">
                <span><i class="material-icons prefix arrow-img11">play_arrow</i></span>What about hardware?
              </h2>
              <p class="collapse box1" id="num12">If you have specific hardware in mind, bring it with you. We will be
                doing our best to lend hardware at the event
                and enable you to work on your dream hack. We’ll put out a list closer to the event so you can see
                what’s available.</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /FAQS -->
  <!-- PRIZES -->
  <div id="prizes" class="section">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h3 class="title"><span>P</span><span style="color: #bd0c0e;text-transform: lowercase">rizes</span></h3>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="content text-center">
            <h2>First Prize</h2>
          </div>
          <a class="sponsor">
            <img src="./img/cup.png" alt="">
          </a>
          <div class="content text-center">
            <h2>Worth Rs.25,000</h2>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="content text-center">
            <h2>Second Prize</h2>
          </div>
          <a class="sponsor">
            <img src="./img/cup.png" alt="">
          </a>
          <div class="content text-center">
            <h2>Worth Rs.15,000</h2>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="content text-center">
            <h2>Third Prize</h2>
          </div>
          <a class="sponsor">
            <img src="./img/cup.png" alt="">
          </a>
          <div class="content text-center">
            <h2>Worth Rs.10,000</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /PRIZES -->

  <!-- CTA -->
  <div id="cta" class="section">
    <!-- background image -->
    <div class="section-bg" style="background-image:url(./img/background03.jpg)" data-stellar-background-ratio="0.5"></div>
    <!-- /background image -->

    <!-- container -->
    <div class="container">
      <!-- container -->
      <div class="row">
        <!-- cta content -->
        <div class="col-md-8 col-md-offset-2">
          <div class="cta-content text-center">
            <h2>Registrations started</h2>
            <p class="lead">Our focus is on letting your imagination flow free and enable you to push the boundaries of
              what can be done. We're open for all! We'll take care of the food and stay - virtually leaving
              you no excuse to not build something that'll blow our minds.</p>
              <p>The Deadline for Registrations is 23rd January 2019</p>
              <button class="" id="devfolio-apply-now2"><svg class="logo" xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 115.46 123.46" style="height:24px;width:24px;margin-right:8px"><path d="M115.46 68a55.43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-10.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 13.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05 1.05.08 2.18.08 3.34z"/><path d="M110.93 55.87A55.43 55.43 0 0 1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 55.41 0 0 1 50.58 55.34z"/></svg>Apply with Devfolio</button>                     

          </div>
        </div>
        <!-- /cta content -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /CTA -->

  <!-- Contact -->
  <div id="contact" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- section title -->
        <div class="section-title">
          <h3 class="title"><span>Contact</span> <span style="color: #bd0c0e;">Info</span></h3>
        </div>
        <!-- /section title -->

        <!-- contact -->
        <div class="col-sm-4">
          <div class="contact">
            <h3>Address</h3>
            <p>New ClassRoom Complex, SVNIT Campus, Surat</p>
          </div>
        </div>
        <!-- /contact -->

        <!-- contact -->
        <div class="col-sm-4">
          <div class="contact">
            <h3>Email</h3>
            <a href="mailto:contact@hackdotslash.co.in">contact@hackdotslash.co.in</a>
          </div>
        </div>
        <!-- /contact -->
        
        <!-- contact -->
        <div class="col-sm-4">
          <div class="contact">
            <h3>Mobile</h3>
            <a href="tel:+91 91676 91132"><b>+91 91676 91132</b> - Rogin Koshy</a><br>
            <a href="tel:+91 76239 92170"><b>+91 76239 92170</b> - Akshay Busa</a><br>
            <a href="tel:+91 70968 29194"><b>+91 70968 29194</b> - Avinash Jaiswal</a>
          </div>
        </div>
        <!-- /contact -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->

    <!-- Map -->
    
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.709508025854!2d72.78295711410247!3d21.163955788526962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04dec37cb53cd%3A0x5955242c1e446820!2sNew+CRC!5e0!3m2!1sen!2sin!4v1541182858316"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- /Map -->
  </div>
  <!-- /Contact -->

  <!-- Footer -->
  <footer id="footer">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">

        <!-- footer logo -->
        <div class="col-md-4">
          <div class="footer-brand">
            <a class="logo" href="/">
              <img class="logo-img" src="./img/logo_final13.png" alt="logo">
            </a>
          </div>
        </div>
        <!-- /footer logo -->

        <!-- contact social -->
        <div class="col-md-8">
          <div class="contact-social">
            <a href="https://www.facebook.com/hackatdotslash/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/hackatdotslash" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/hackatdotslash/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="mailto:hackatdotslash@gmail.com" target="_blank"><i class="fa fa-google"></i></a>
          </div>
        </div>
        <!-- /contact social -->

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </footer>
  <!-- /Footer -->

  <!-- jQuery Plugins -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/jquery.countTo.js"></script>
  <script src="js/main.js"></script>
  <script src="js/devfolio.js"></script>
  <script>
      for(let i=0;i<12;i++){
    $('.arrow'+i).on("click", function (event) {
    $('.arrow-img'+i).toggleClass('rotate');
});}
    
    jQuery(document).ready(function($) {
        let alterClass = function() {
        let ww = document.body.clientWidth;
        if (ww < 415) {
            $('.logofix').addClass('logofixer');
        } else if (ww >= 416) {
            $('.logofix').removeClass('logofixer');
        };
        };
      $(window).resize(function(){
          alterClass();
        });
          alterClass();
      });  



document.addEventListener('DOMContentLoaded', function () {
    let devfolioOptions1 = {
        buttonSelector: '#devfolio-apply-now1',
        key: 'dotslash',
    }
    new Devfolio(devfolioOptions1);

    let devfolioOptions2 = {
        buttonSelector: '#devfolio-apply-now2',
        key: 'dotslash',
    }
    new Devfolio(devfolioOptions2);
    
    

    /*script.onerror = function () {
        document.querySelector(devfolioOptions.buttonSelector).addEventListener('click', function () {
            window.location.href = 'https://devfolio.co/external-apply/' + devfolioOptions.key;
        });
    }*/
});
      
    </script>
</body>

</html>
